{% load static %}
<!doctype html>
<html lang="en" data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" dir="ltr" data-pc-theme="light">
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <link rel="icon" href="{% static 'farm/assets/images/favicon.svg' %}" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'farm/assets/fonts/phosphor/regular/style.css' %}" />
    <link rel="stylesheet" href="{% static 'farm/assets/fonts/tabler-icons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'farm/assets/css/style.css' %}" id="main-style-link" />
</head>
<body>
<div class="auth-main relative overflow-x-hidden">
  <div class="auth-wrapper v1 flex items-center w-full h-full min-h-screen">
    <div class="auth-form flex items-center justify-center grow flex-col min-h-screen relative px-6 py-3">
      <div class="w-full max-w-[350px] relative">
        <div class="card sm:my-12 w-full shadow-none">
          <div class="card-body !p-10">
            <div class="text-center mb-8">
            
            </div>
            <h4 class="text-center font-medium mb-4">Login</h4>

            <!-- Django login form -->
            <form method="post" novalidate>
                {% csrf_token %}

                {% if form.errors %}
                  <div class="text-red-500 mb-2">Your username and password didn't match. Please try again.</div>
                {% endif %}

                <div class="mb-3">
                    <input type="text" name="username" class="form-control" placeholder="Username" required id="id_username" value="{{ form.username.value|default_if_none:'' }}">
                </div>
                <div class="mb-4">
                    <input type="password" name="password" class="form-control" placeholder="Password" required id="id_password">
                </div>

                <div class="flex mt-1 justify-between items-center flex-wrap">
                    <div class="form-check">
                        <input class="form-check-input input-primary" type="checkbox" id="remember_me" name="remember_me" />
                        <label class="form-check-label text-muted" for="remember_me">Remember me?</label>
                    </div>
                    <h6 class="font-normal text-primary-500 mb-0">
                        <a href="{% url 'password_reset' %}"> Forgot Password? </a>
                    </h6>
                </div>

                <div class="mt-4 text-center">
                    <button type="submit" class="btn btn-primary mx-auto shadow-2xl w-full">Login</button>
                </div>

                <input type="hidden" name="next" value="{{ next }}">
            </form>

            <div class="flex justify-between items-end flex-wrap mt-4">
                <h6 class="font-medium mb-0">Don't have an Account?</h6>
                <a href="#" class="text-primary-500">Create Account</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'farm/assets/js/plugins/simplebar.min.js' %}"></script>
<script src="{% static 'farm/assets/js/plugins/popper.min.js' %}"></script>
<script src="{% static 'farm/assets/js/component.js' %}"></script>
<script src="{% static 'farm/assets/js/theme.js' %}"></script>
<script src="{% static 'farm/assets/js/script.js' %}"></script>
</body>
</html>
