{% extends "farm/base.html" %}

          {% block content %}
            <h3>Dashboard</h3>
            <div class="col-span-12 xl:col-span-4 md:col-span-6">
            <div class="card">
              <div class="card-header !pb-0 !border-b-0">
                <a href="{% url 'animal_list' %}" class="pc-link"><h5>Total animals</h5></a>
              </div>
              <div class="card-body">
                <div class="flex items-center justify-between gap-3 flex-wrap">
                  <h3 class="font-light flex items-center mb-0">
                    <i class="fa-solid fa-paw"></i>&nbsp;&nbsp;
                    {{ animals_count }}
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-span-12 xl:col-span-4 md:col-span-6">
            <div class="card">
              <div class="card-header !pb-0 !border-b-0">
                <a href="{% url 'task_list' %}" class="pc-link"><h5>Pending tasks</h5></a>
              </div>
              <div class="card-body">
                <div class="flex items-center justify-between gap-3 flex-wrap">
                  <h3 class="font-light flex items-center mb-0">
                    <i class="fa-solid fa-thumbtack"></i>&nbsp;&nbsp;
                    {{ tasks_pending }}
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-span-12 xl:col-span-4">
            <div class="card">
              <div class="card-header !pb-0 !border-b-0">
               <a href="{% url 'food_stock' %}" class="pc-link"><h5>Food Stock Items</h5></a>
              </div>
              <div class="card-body">
                <div class="flex items-center justify-between gap-3 flex-wrap">
                  <h3 class="font-light flex items-center mb-0">
                    <i class="fa-solid fa-cubes-stacked"></i>&nbsp;&nbsp;
                    {{ food_items }}
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-span-12 xl:col-span-4">
            <div class="card">
              <div class="card-header !pb-0 !border-b-0">
               <a href="{% url 'health_log_list' %}" class="pc-link"><h5>Health Repports</h5></a>
              </div>
              <div class="card-body">
                <div class="flex items-center justify-between gap-3 flex-wrap">
                  <h3 class="font-light flex items-center mb-0">
                    <i class="fa-solid fa-notes-medical"></i>&nbsp;&nbsp;
                    {{ health_logs }}
                  </h3>
                </div>
              </div>
            </div>
          </div>
                    <div class="col-span-12 xl:col-span-4">
            <div class="card">
              <div class="card-header !pb-0 !border-b-0">
               <a href="{% url 'production_list' %}" class="pc-link"><h5>Production Repports</h5></a>
              </div>
              <div class="card-body">
                <div class="flex items-center justify-between gap-3 flex-wrap">
                  <h3 class="font-light flex items-center mb-0">
                    <i class="fa-solid fa-basket-shopping"></i>&nbsp;&nbsp;
                    {{ production_logs }}
                  </h3>
                </div>
              </div>
            </div>
          </div>
            {% endblock %}