<footer class="pc-footer">
  <div class="footer-wrapper container-fluid mx-10">
    <div class="grid grid-cols-12 gap-1.5">
      <div class="col-span-12 md:col-span-6 my-1">
        <p class="m-0"></p>
          <a href="https://codedthemes.com/" class="text-theme-bodycolor dark:text-themedark-bodycolor hover:text-primary-500 dark:hover:text-primary-500" target="_blank">CodedThemes</a>
          , Built with ♥ for a smoother web presence.
        </p>
      </div>
      <div class="col-span-12 md:col-span-6 my-1">
        <ul class="mb-0 ltr:sm:text-right rtl:sm:text-left *:text-theme-bodycolor dark:*:text-themedark-bodycolor *:hover:text-primary-500 dark:*:hover:text-primary-500">
          <li class="inline-block max-sm:mr-2 sm:ml-2"><a href="../index.html">Home</a></li>
          <li class="inline-block max-sm:mr-2 sm:ml-2"><a href="https://codedthemes.gitbook.io/datta/datta-able-tailwind" target="_blank">Documentation</a></li>
          <li class="inline-block max-sm:mr-2 sm:ml-2"><a href="https://codedthemes.support-hub.io/" target="_blank">Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
